body {
    background-color: darkcyan;
}

#Raiden {
position: absolute;
    top: 100px;
    left: 1053px;
    height: 300px;


}


#Kenshi {
position: absolute;
    top: 100px;
    height: 300px;
    left: 100px;
}

