body {
    background-color: darkcyan;
}

#Raiden {
position: absolute;
    top: 100px;
    left: 1955px;
    height: 700px;


}


#Kenshi {
position: absolute;
    top: 100px;
    height: 700px;
    left: 100px;
}

